body {

       background-image: url("obmc.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      background-attachment: fixed;
}

form {

      background-color:#FFF8E8;
      width: 40%;
     height: 60%;
     padding: 20px;
     border-radius: 10px;
      text-align: center;
      margin: auto;
    
}