body {
    background-color: #f2f4f7;
    font-family:"Josefin Sans", sans-serif;
    color: black;
}
          
body {
            margin: 0;
            padding: 0;
          }


.divider {
            width: 100vw;
            height: 12px;
            background-color: #044a85;
            margin: 10px 0;
          }

li {
               font-size: 15px;
          }


p {
            text-align: center;
        }

body{

        }

.row {
            display: flex;
        }

.column {
             flex: 33.33%;
             padding: 5px;
        }

body {
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      background-attachment: fixed;
}

form {

      background-color:#FFF8E8;
     padding: 20px;
     border-radius: 10px;
      margin: auto;
    
}
       
.divider {width: 100vw;
            height: 12px;
            background-color: #044a85;
            margin: 10px 0;
        
         }

