body {
    background-color: #f2f4f7;
    font-family:"Josefin Sans", sans-serif;
    color: black;
}

 .container {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 40px;
            max-width: 900px;
            margin: 0 auto;
            padding: 20px;
 }
          
.container div {
            padding: 10px;
            font-size: 30px;
            text-align: center;
            margin: auto;
          }

body {
            margin: 0;
            padding: 0;
          }

h1 {
            font-size: 48px !important;
            color: #044a85 !important;
            text-align: center;
            margin-top: 40px !important;
            margin-bottom: 40px !important;
            padding: 0;
          }

p {
            padding: 20px 0;
            font-size: 20px;
            color: rgb(28, 28, 28);
          }

.divider {
            width: 100vw;
            height: 12px;
            background-color: #044a85;
            margin: 10px 0;
          }

li {
               font-size: 15px;
          }

h1 {
            text-align: center;
            color:#044a85;
        }

p {
            text-align: center;
        }

body{

        }

.row {
            display: flex;
        }

.column {
             flex: 33.33%;
             padding: 5px;
        }

body {

       background-image: url("obmc.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      background-attachment: fixed;
}

form {

      background-color:#FFF8E8;
      width: 40%;
     padding: 20px;
     border-radius: 10px;
      margin: auto;
    
}
       
.divider {width: 100vw;
            height: 12px;
            background-color: #044a85;
            margin: 10px 0;
        
         }

